<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head th:fragment="head">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <title>Cuponera</title>
</head>
<body>

 <header>
        <nav>
               <a th:href="@{/usuario/}">Usuarios</a>
            <a th:href="@{/usuario/restaurante/}">Restaurantes</a>
            <a th:href="@{/usuario/cupones}">Cupones</a>
        </nav>
        <section class="textos-header" id="inicio">
            <h1>Cuponera</h1>
            <h2>Tus mejores ofertas</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
	<br>
    <div class="container-fluid">

    
          
           <div class="card">
            <h5 class="card-header">Cupones</h5>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                         	<th>Identificador</th>
                            <th>Restaurante</th>
                            <th>Rfc</th>
                            <th>Descripción</th>
                            <th>Vigencia</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr th:each="cupones : ${cupones}">
                       		<td th:text="${cupones.id}"></td>
                       		<td th:text="${cupones.restaurante}"></td>
                       		<td th:text="${cupones.rfc}"></td>
                       		<td th:text="${cupones.descripcion}"></td>
                       		<td th:text="${cupones.vigencia}"></td>
                       </tr>
                    </tbody>
                </table>
            </div>
          </div>
    </div>


    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
</body>
</html>